{% extends "dating_app/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "styles/auth.css" %}">
<div class="auth_body" id="auth_body">
<div class="auth_container" id="auth_container">
	<div class="form-auth_container sign-up-auth_container">
		<form action="{% url 'user_app:signup' %}" method="POST">
            {% csrf_token %}
			<h1>Find your<br>
                true l<span><img src="{% static 'user_app/heart.png' %}" style="align-items: center; height: 25px; margin-top: -15px;"></span>ve</h1>
				<br>
            {% if error_contex %}
			{% for error in error_contex %}
                <div class="alert alert-danger" role="alert">
                    <span><svg xmlns="http://www.w3.org/2000/svg" style="align-items: center; margin-top: -5px;" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
						<path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					  </svg></span> {{ error }}
                </div>
			{% endfor %}
            {% endif %}
			<input type="text" placeholder="Login" name="username" id="username"/>
			<input type="password" placeholder="Password" name="password1" id="password1">
			<input type="password" placeholder="Confirm Password" name="password2" id="password2"/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-auth_container sign-in-auth_container">
		<form action="{% url 'user_app:signin' %}" method="POST">
            {% csrf_token %}
			<h1>Hey, <span><img src="{% static 'user_app/hi_emoji.png' %}" style="align-items: center; height: 50px; margin-top: -20px;"></span> Hello</h1>
            <p>Enter the information you entered while registering.</p>
            {% if error_signin %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error_signin }}
            </div>
            {% endif %}
			<input type="text" name="username" id="username" placeholder="Login" />
			<input type="password" name="password" id="password" placeholder="Password" />
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-auth_container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>You have an account?</h1>
				<p>Come back to us</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't have<br>an account?</h1>
				<p>Take a step towards your destiny.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>
<script src="{% static 'scripts/auth.js' %}"></script>
{% endblock %}
