{% extends "dating_app/base.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "styles/auth.css" %}">
<div class="auth_body" id="auth_body">
<div class="auth_container" id="auth_container">
	<div class="form-auth_container sign-up-auth_container">
		<form action="{% url 'user_app:signup' %}" method="POST">
            {% csrf_token %}
			<h1>Find your<br>
                true l<span><img src="{% static 'user_app/heart.png' %}" style="align-items: center; height: 25px; margin-top: -15px;"></span>ve</h1>
            {% if error_signup %}
                <div class="alert alert-danger" role="alert">
                    {{ error_signup }}
                </div>
            {% endif %}
			<input type="text" placeholder="Login" name="username" id="username"/>
			<input type="password" placeholder="Password" name="password1" id="password1">
			<input type="password" placeholder="Confirm Password" name="password2" id="password2"/>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-auth_container sign-in-auth_container">
		<form action="{% url 'user_app:signin' %}" method="POST">
            {% csrf_token %}
			<h1>Hey, <span><img src="{% static 'user_app/hi_emoji.png' %}" style="align-items: center; height: 50px; margin-top: -20px;"></span> Hello</h1>
            <p>Enter the information you entered while registering.</p>
            {% if error_signin %}
            <div class="alert alert-danger text-center" role="alert">
                {{ error_signin }}
            </div>
            {% endif %}
			<input type="text" name="username" id="username" placeholder="Login" />
			<input type="password" name="password" id="password" placeholder="Password" />
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-auth_container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>You have an account?</h1>
				<p>Come back to us</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Don't have<br>an account?</h1>
				<p>Take a step towards your destiny.</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
</div>
<script src="{% static 'scripts/auth.js' %}"></script>
{% endblock %}
