{% extends "dating_app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "styles/user_account.css" %}">
<div class="container">
  <main>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
    <div class="row g-5">
      <div class="col-md-6 col-lg-6 order-md-last">
        <h4 class="mb-3">Media</h4>
        <div class="card"> <img class="card-img-top" src="{{ user.profile.banner.url }}" style="object-fit: cover; object-position: center;" alt="Card image cap">
          <div class="card-body little-profile text-center">
              <div class="pro-img"><img src="{{ user.profile.profile_pic.url }}" style="object-fit: cover; object-position: center;"  alt="user"></div>
              <div class="input-group">
                <label class="input-group-text" for="id_banner">Wrapper</label>
                <input type="file" name="banner" class="form-control" id="id_banner">
              </div>
              <hr>
              <div class="input-group">
                <label class="input-group-text" for="id_profile_pic">Picture</label>
                <input type="file" name="profile_pic" class="form-control" id="id_profile_pic">
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <h4 class="mb-3">Information</h4>
        <form class="needs-validation" novalidate>
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">First name</label>
              <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ user.profile.first_name }}">
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Last name</label>
              <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ user.profile.last_name }}">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Username</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" name="username" id="username" class="form-control" value="{{ user.username }}">
              </div>
            </div>
            <div class="col">
              <label for="city" class="form-label">Location</label>
              <input type="text" name="city" id="id_city" class="form-control" value="{{ user.profile.city }}" placeholder="Your country and city">
            </div>
          <hr>
          <div class="col">
            <label for="firstName" class="form-label">Sex</label>
            {% if user.profile.sex == "M" %}
            <select name="sex" class="form-control" id="id_sex">
            <option value="M" selected="selected">Male</option>
            <option value="F">Female</option>
            </select>
            {% else %}
            <select name="sex" class="form-control" id="id_sex">
            <option value="M">Male</option>
            <option value="F" selected="selected">Female</option>
            </select>
            {% endif %}
          </div>
          <div class="col">
            <label for="country" class="form-label">Seeking</label>
            {% if user.profile.seeking == "M" %}
            <select name="seeking" class="form-control" id="id_seeking">
            <option value="M" selected="selected">Male</option>
            <option value="F">Female</option>
            </select>
            {% else %}
            <select name="seeking" class="form-control" id="id_seeking">
            <option value="M">Male</option>
            <option value="F" selected="selected">Female</option>
            </select>
            {% endif %}
          </div>
          <hr class="my-4">
          <div class="col">
            <label for="about" class="form-label">About Me</label>
            <textarea type="textarea" class="form-control" rows="5" name="about" id="id_about">{{ user.profile.about }}</textarea>
          </div>
          <div class="my-4 text-center">
            <button class="btn btn-outline-info" type="submit">Save Changes</button>
          </div>

    </div>
  </form>
</div>

{% endblock %}
