<div class="modal fade" id="matches" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="exampleModalLabel">
			<svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: 5px;" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
			<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
		  </svg> Your Likes</h1>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
			{% if likes %}
			{% for like in likes %}
			<div class="list-group w-auto">
				<a href="{% url 'dating_app:partner_account' like.liked.id %}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
				  <img src="{{ like.liked.profile.profile_pic.url }}"style="width: 40px; height: 40px; object-fit: cover; object-position: center;" class="rounded-circle flex-shrink-0">
				  <div class="d-flex gap-2 w-100 justify-content-between">
					<div>
					  <h6 class="mb-0"><b>{{ like.liked.profile.first_name }} {{ like.liked.profile.last_name }}, {{ like.liked.profile.age }}</b></h6>
					  <small><svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
					  </svg> {{ like.liked.profile.city }}</small>
					  <p class="mb-0 opacity-75"><i>{{ like.liked.profile.about|truncatechars:80 }}</i></p>
					</div>
					<small class="opacity-50 text-nowrap">{{like.date|date:"SHORT_DATE_FORMAT"}}<br>{{like.date|time:"h:i a"}}</small>
				  </div>
				</a>
			<a href="{% url 'dating_app:like_add' like.liked.id %}" class="btn btn-danger">Delete</a>
			{% endfor %}
			  </div>
			  {% else %}
		You haven't liked anyone yet
		{% endif %}
		</div>
	  </div>
	</div>
  </div>