{% extends "dating_app/base.html" %}

{% load static %}

{% block content %}
<section class="h-100 gradient-custom-2 w-100">
    <div class="container py-10 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xxl-7">
          <div class="card">
            <div class="upper">

              <img src="{{ partner_account.profile.banner.url }}" style="object-fit: cover; object-position: center; height: 200px;" class="img-fluid">
              
            </div>
  
            <div class="user text-center">
  
              <div class="profile">
  
                <img src="{{ partner_account.profile.profile_pic.url }}" style="object-fit: cover; object-position: center; height: 200px;" class="rounded-circle" width="80">
                
              </div>
            </div>
            <div class="p-4 text-black" style="background-color: #ffffff;">
              <div class="d-flex justify-content-end text-center py-1">
                <div>
                  <p class="mb-1 h5">1</p>
                  <p class="small text-muted mb-0">Photos</p>
                </div>
                <div class="px-3">
                  <p class="mb-1 h5">0</p>
                  <p class="small text-muted mb-0">Likes</p>
                </div>
              </div>
                <h5 class="mt-5">{{ partner_account.username }}, {{ partner_account.profile.age }}</h5>
                <p style="font-weight: 100;">{{ partner_account.profile.city }}</p>
                <a href="#" class="btn btn-outline-primary">Send message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="container py-10 h-100 mt-3">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xxl-7">
            <div class="card">
              <div class="p-4 text-black" style="background-color: #ffffff;">
                  <h5>About</h5>
                  <p style="font-weight: 100;">{{ partner_account.profile.about }}</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
  </section>
{% endblock %}
