{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Meet and connect with interesting people around the world. Join and make new friends today.">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "dating_app/custom.css" %}">    
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'user_app/icon.ico' %}" type="image/x-icon">
    <title>Calambug</title>

</head>
<body>
<div id="chat">
    <nav id="topNav" class="navbar navbar-expand-md navbar-light">
        <div class="container">
        <a class="navbar-brand" href="{% url 'dating_app:dating' %}">
          <img src="{% static 'user_app/calambug_logo.png' %}" width="222" height="55" class="d-inline-block align-top" alt="Calambug's logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarNav">
          <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated %}
              <form class="d-flex" role="search" action="{% url 'dating_app:search_results' %}" method="GET">
                <input class="form-control" type="search" autocomplete="off" name="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-link" type="submit">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#8538f7" class="bi bi-search-heart" viewBox="0 0 16 16">
                    <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
                    <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
                  </svg>
                </button>
              </form>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chat_app:message_list' %}">Chat</a>
              {% endif %}
            </li>
            <li>
                <a class="nav-link" href="{% url 'user_app:user_account' %}"><b>My account</b></a>          
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <hr>
    <div class="container py-5 px-4">
        <div class="row rounded-lg overflow-hidden shadow">
          <!-- Users box-->
          <div class="col-5 px-0">
            <div class="bg-white">
      
              <div class="d-flex justify-content-between bg-gray px-4 py-2 bg-light">
                <a href="{% url 'chat_app:message_list' %}" class="h5 mb-0 py-1" style="color: #000;">Recent</a>
              </div>
      
              <div class="messages-box">
                <div class="list-group rounded-0">
                    {% block contacts %}
					{% endblock%}
                </div>
              </div>
            </div>
          </div>
          <!-- Chat Box-->
          <div class="col-7 px-0">
            <div class="px-4 py-5 chat-box">
                
                {% block message %}
				{% endblock %}
          </div>
        </div>
      </div>    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </div>
</div>
  </body>
  </html>