{% extends 'chat_app/base.html' %}
{% load static %}
{% block contacts %}
{% for message in messages_list %}

{% for us in other_users %}
{% if us.pk == message.recipient.pk or us.pk == message.sender.pk  %}
<!-- contact box 1-->
{% if user.username == us.username %}
<a href="{% url 'chat_app:inbox' us %}" class="list-group-item list-group-item-action text-black rounded-0" style="border: 1px solid #8539f7;">
    <div class="media">
      <img src="{{ us.profile.profile_pic.url }}" style="border-radius: 50%; width: 3rem; height: 3rem; object-fit: cover; object-position: center;">
      <div class="media-body ml-4">
        <div class="d-flex align-items-center justify-content-between mb-1">
          <h6 class="mb-0">
          {% if us.profile.first_name is None %}
            {{ us.username }}
          {% else %}
            {{ us.profile.first_name }}
          {% endif %}  
          </h6>
          <small class="small">
            <time datetime="2020-01-01">
            {{message.date|date:"m/d/Y"}} at {{ message.date|time:"h:i a" }}
            </time>
          </small>
        </div>
        <p class="mb-0 text-small">{{message.message|truncatechars:30}}</p>
      </div>
    </div>
  </a>
{% else %}
<a href="{% url 'chat_app:inbox' us %}" class="list-group-item list-group-item-action text-black rounded-0">
  <div class="media">
    <img src="{{ us.profile.profile_pic.url }}" style="border-radius: 50%; width: 3rem; height: 3rem; object-fit: cover; object-position: center;">
    <div class="media-body ml-4">
      <div class="d-flex align-items-center justify-content-between mb-1">
        <h6 class="mb-0">
          {% if us.profile.first_name is None %}
            {{ us.username }}
          {% else %}
            {{ us.profile.first_name }}
          {% endif %}
        </h6>
        <small class="small">
          <time datetime="2020-01-01">
          {{message.date|date:"m/d/Y"}} at {{ message.date|time:"h:i a" }}
          </time>
        </small>
      </div>
      <p class="mb-0 text-small">{{message.message|truncatechars:30}}</p>
    </div>
  </div>
</a>
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endblock %}

{% block message %}



{% endblock %}